@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Roboto:wght@500&display=swap');

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    background-color: #e0e1dd;
    color: #1b263b;
    margin: 32px 0 0 0;
    padding: 0;
}

figure {
    margin: 0;
}

/* logo & nav bar */

.navbar {
    width: 100%;
    height: 40px;
    background: linear-gradient(#415a77 0%, #778da9 40%, #778da9 60%, #415a77 100%);
    box-shadow: 0 5px 10px #1b263b;
    border-radius: 2px;
    position: fixed;
    top: 0;
    z-index: 1;
}

.nav-logo {
    height: 40px;
    width: 33%;
    float: left;
    text-decoration: none;
    color: inherit;
    position: relative;
}

.nav-logo h2 {
   position: absolute;
   top: 5px;
}

#compass {
    height: 29.6px;
    width: 29.6px;
    position: absolute;
    margin-left: 5px;    
}

.nav-logo h2 {
    margin-left: 30px;
}

.nav-destination {
    height: 40px;
    width: 33%;
    float: left;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: inherit;
    margin-top: 5px;
}

.navigate {
    height: 40px;
    width: 33%;
    float: right;
    text-decoration: none;
}

.navigate ul {
    float: right;
    margin: 0;
}

.navigate li {
    float: left;
    list-style-type: none;    
    padding-right: 15px;
    margin: 5px 15px 0 0;
}

.nav-divider {
    border-right: 1px solid #415a77;
}

.navigate a {
    color: inherit;
    text-decoration: none;
    font-size: 150%;
}

.navigate a:hover {
    color: #415a77;
}

.active {
    color: #415a77;
}

/* hero image and headings */

.hero-image-container {
    width: 100%;
    height: 640px;
    overflow: hidden;
}

.headings {
    color: #e0e1dd;
    font-family: 'Cinzel Decorative', cursive;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 280px;
    letter-spacing: 4px;
    font-size: 200%;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 3px 3px 3px #0d1b2a;    
}

.headings h1,h2 {
    margin: 0 auto;    
}

#fire-heading {
    font-size: 300%;
}

.headings a {
    text-decoration: none;
    color: inherit;
}

.headings a:hover {
    color: #778da9;
}

.hero-image img {
    height: 640px; 
    width: 100%;
    object-fit: cover;
}

/* Section structures */

.layout-white {
    width: 100%;
    clear: both;
    font-size: 130%;
    margin: 0% auto;
    display: inline-block;
}

.layout-blue {
    width: 100%;
    background-color: #778da9;
    clear: both;
    font-size: 130%;    
}

.content-container {
    margin: 0 10%;
    padding: 30px 0;
}

.img-right {
    width: 500px;
    height: 350px;
    object-fit: cover;
    overflow: hidden;
    float: right;
    margin: 0 0 20px 20px;   
}

.img-left {
    width: 500px;
    height: 350px;
    object-fit: cover;
    overflow: hidden;
    float: left;
    margin: 0 20px 20px 0;
}

figcaption {
    position: absolute;
}

/* About section */

#about-img-container {
    width: 25%;
    float: left;
    margin-left: 10%;
    padding: 60px 0;
}

#about-img {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

#about-text-container {
    width: 50%;
    float: right;
    margin-right: 10%;
    padding: 30px 0;
}

/* Reykjavik section */

#church-img {
    width: 250px;
    height: 400px;
}

.extra-img-container {
    width: 100%;
    display: inline-block;
}

#building-img {
    width: 25%;
    height: 500px;
    margin: 5px;
    object-fit: cover;
    overflow: hidden;
}

#english-bar-img {
    width: 35%;
    height: 350px;
    margin: 5px;
    object-fit: cover;
    overflow: hidden;
}

#christmas-img {
    width: 35%;
    height: 350px;
    margin: 5px;
    object-fit: cover;
    overflow: hidden;
}

/* Lower navigation arrows */

.nav-arrow-container {
    width: 100%;
    height: 200px;
    display: block;
    text-align: center;
}

.nav-arrow-container p {
    margin: 0 auto;
    font-size: 200%;
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 700;
    margin-top: 100px;
}

.nav-arrow-container p a {
    text-decoration: none;
    color: #1b263b;
    font-size: 200%;
    text-shadow: 5px 5px 5px darkslategrey;    
}

.nav-arrow-container p a:hover {
    color: #778da9;
    text-shadow: none;    
}

#nav-gap {
    padding: 0 40px;
}

/* Footer */

footer {
    width: 100%;
    height: 245px;
    background-color: #1b263b;
    color: #e0e1dd;
    padding-top: 15px;
    display: block;
}
footer h3 {
    padding-left: 25px;
}

.attributes {
    width: 33%;
    display: inline-block;
}

.attributes li {
    margin-top: 5px;
}

.attributes a {
    color: #778da9;
}

.attributes a:visited {
    color: #778da9;
}

.social {
    width: 33%;
    display: inline-block;
    text-align: center;  
}

.social h3 {
    bottom: 110px;
    text-align: left;
    position: relative;
}

.social ul {
    position: relative;
    bottom: 80px;
}

.social li {
    list-style-type: none;
    display: inline;
    font-size: 300%;
    padding: 20px;    
}

.social a {
    color: #778da9;   
}

.social a:hover {
    color: #e0e1dd;
}

.copyright {
    width: 33%;
    display: inline-block;
    text-align: right;    
}

.copyright p {
    padding-right: 25px;
}