@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Roboto:wght@500&display=swap');

body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    background-color: #e0e1dd;
    color: #0d1b2a;
    margin: 64px 0 0 0;
    padding: 0;
}

/* logo & nav bar */

#navbar {
    width: 100%;
    height: 60px;
    display: inline-flex;
    justify-content: space-between;
    background: linear-gradient(#415a77 0%, #778da9 40%, #778da9 60%, #415a77 100%);
    box-shadow: 0 5px 10px #1b263b;
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 1;
}

.navflex {
    height: 60px;
    color: #1b263b;
    font-size: 125%;
    text-decoration: none;
}

#logo {
    margin: 12px 0 0 30px;
    font-weight: 300;
}

#destination {
    text-transform: uppercase;
    margin: 12px auto;
}

#navigate {
    display: inline-flex;
    height: 36px;
    margin-top: 12px;
    margin-bottom: 0;
    padding-left: 0;
}

#navigate li {
    list-style-type: none;    
    padding-right: 15px;
    margin-right: 15px;
    border-right: 1px solid #415a77;
    font-size: 130%;
}

#navigate a {
    color: inherit;
    text-decoration: none;
}

#navigate a:hover {
    color: #415a77;
}

#navigate .active {
    color: #415a77;
}

/* hero image and headings */

.hero-image-container {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
}

.headings {
    color: #e0e1dd;
    font-family: 'Cinzel Decorative', cursive;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 228px;
    letter-spacing: 4px;
    font-size: 200%;
    font-weight: bold;
    text-transform: uppercase;    
}

.headings h1,h2 {
    margin: 0 auto;    
}

.headings a {
    text-decoration: none;
    color: inherit;
}

.headings a:hover {
    color: #778da9;
}

.hero-image img {
    height: 600px;
    width: 100%;
    object-fit: cover;
}

/* About section */

#about {
    margin: 40px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#about-img-container {
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
}

#about-img {
    width: 300px;
    height: 300px;
    object-fit: contain;
}

#about-heading {
    width: 60%;
    flex-shrink: 1;
    flex-basis: auto;
    font-size: 130%;
}
